@import "@/styles/variables.scss";

* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: "Futura PT";
    src: url("@/assets/fonts/futura-pt-medium.ttf");
    font-style: normal;
    font-weight: normal;
}

#app {
    font-family: Futura PT;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 18px 20px;
    align-items: center;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: $backgroundInterfaceColor;

    a {
        font-weight: bold;
        color: #2c3e50;

        &.router-link-exact-active {
            color: #42b983;
        }
    }
}

.navigation-search {
    width: 34px;
    height: 34px;
    background: url("@/assets/images/search.png");
}

.navigation-wish {
    width: 34px;
    height: 34px;
    background: url("@/assets/images/Wish.png");
}

.text--red-color {
    color: #f93c00;
}

@media (max-width: 768px) {
    nav {
        border-bottom: 1px solid #f0f0f0;
        color: #2c2c2c;
    }

    .navigation-home {
        margin: 0 24px;
    }

    .navigation-menu {
        width: 26px;
        height: 2px;
        margin-left: 8px;
        background: #2c2c2c;
        position: relative;
        border: none;
        &::before {
            position: absolute;
            content: "";
            height: 2px;
            width: 26px;
            background: #2c2c2c;
            left: 0px;
            top: 8px;
        }
        &::after {
            position: absolute;
            content: "";
            height: 2px;
            width: 26px;
            background: #2c2c2c;
            left: 0px;
            top: -8px;
        }
    }

    .menu {
        position: fixed;
        left: -100%;
        top: 0px;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        transition: all 0.5s ease-out;
        background-color: $backgroundInterfaceColor;
        .menu-header {
            height: 75px;
            width: 100%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 35px;
            box-sizing: border-box;

            .menu-header--title {
                font-weight: 450;
                font-size: 18px;
                line-height: 130%;
            }

            .navigation-menu--close {
                position: relative;
                width: 12px;
                height: 12px;
                border: none;
                background-color: #fff;
                &::before {
                    position: absolute;
                    content: "";
                    height: 2px;
                    width: 15px;
                    background: #2c2c2c;
                    right: 0px;
                    top: 0px;
                    transform: rotate(45deg);
                }
                &::after {
                    position: absolute;
                    content: "";
                    height: 2px;
                    width: 15px;
                    background: #2c2c2c;
                    right: 0px;
                    top: 0px;
                    transform: rotate(315deg);
                }
            }
        }

        ul {
            padding: 30px 35px 35px;
            border-bottom: 1px solid #f0f0f0;

            .menu-list--item {
                position: relative;
                text-decoration: none;
                list-style: none;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;
                margin-bottom: 15px;
                display: block;

                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 7px;
                    width: 9px;
                    height: 2px;
                    background: linear-gradient(90deg, #21a5b5 0%, #71b2b4 100%);
                    transform: rotate(315deg);
                }
                &::before {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 2px;
                    width: 9px;
                    height: 2px;
                    background: linear-gradient(90deg, #21a5b5 0%, #71b2b4 100%);
                    transform: rotate(45deg);
                }
            }
        }

        .menu-contact {
            padding: 35px;
            display: flex;
            flex-direction: column;

            .menu-contact--mail {
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;
                text-decoration: none;
                margin-bottom: 15px;
            }

            .menu-contact--tel {
                font-weight: 450;
                font-size: 18px;
                line-height: 100%;
                background: linear-gradient(90deg, #21a5b5 0%, #71b2b4 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                text-decoration: none;
                margin-bottom: 15px;
            }

            .menu-contact--social {
                display: flex;

                .social-item {
                    width: 34px;
                    height: 34px;
                    border-radius: 50%;
                    border: 1px solid #f0f0f0;
                    margin-right: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
    .mobi-menu-show {
        left: 0;
    }
}
